<div class="panel-body">
	<button ng-repeat="tile in vm.board.tiles" style="width:{{vm.board.width+'%'}};height:{{vm.board.height*vm.wh/100+'px'}};" class="tile"" ng-click="vm.clickTile(tile)" ng-class="{'matched':tile.matched}">
		<img src="{{'public/svg/'+tile.emoji.unicode+'.svg'}}" class="emojiImage" ng-class="{'thisishidden': !tile.visible}"></i>
		<!-- {{tile.emoji.unicode}} -->
<!-- 		<p>{{tile.visible}}</p> -->
	<!-- <p>{{vm.board.tiles.length}}</p> -->
	</button>

<!-- Emoji for winning:
Fireworks: 1f386
Birthday cake: 1f382
Balloon: 1f388
Party popper: 1f389 -->
	<div ng-class="{'youwin':vm.youwin}" class="winbox">
		<div class="row rowwin">
			<div class="winmojistd col-xs-4" ng-class="{'winmoji':vm.youwin}">
				<img src="public/svg/1f389.svg">
			</div>
			<div class="fright winmojistd col-xs-4" ng-class="{'winmoji':vm.youwin}">
				<img src="public/svg/1f382.svg">
			</div>
		</div>
		<div class="row rowwin">
			<div class="text-center wintextstd" ng-class="{'wintext':vm.youwin}"><p>You win!</p></div>
		</div>
		<div class="row rowwin winrowbtm">
			<div class="winmojistd col-xs-4" ng-class="{'winmoji':vm.youwin}">
				<img src="public/svg/1f388.svg">
			</div>
			<div class="fright winmojistd col-xs-4" ng-class="{'winmoji':vm.youwin}">
				<img src="public/svg/1f386.svg">
			</div>
		</div>
	</div>
</div>

	<br>

	<div class="container">
		<div class="row text-center">
			<button class="footerButton" onclick="location.href = '#/newgame';">Quit Game</button>
			<button class="footerButton" ng-click="vm.newSameGame()">Restart</button>
			<div class="footerButton">Tries: {{ vm.tries }}</div>
		</div>
	</div>
</div>
